
@{
    Layout = null;
}

<h1>Add a Cheese:</h1>
<hr>
<br />

<form method="POST">
    Cheese Name: <input name="cheesename" type="text" />
    <br><br>
    Cheese Descrition: <input name="cheesedescription" type="text" />
    <br><br>
    <input type="submit" value="Add Cheese" />
</form>



@*action="/Cheese/Add"*@