
@{
    Layout = null;
}

<h2>MY CHEESES!!!</h2>

<p><a asp-controller="Cheese" asp-action="Add">Add a Cheese</a></p>


@if (ViewBag.CheesesList.Count == 0)
{
    <h3>No Cheeses yet, add some!</h3>

}

@if (ViewBag.CheesesList.Count > 0)
{
    <ul>
        @foreach (KeyValuePair<string, string> cheesedesc in ViewBag.CheesesList)
        {
            <li>@cheesedesc.Key: @cheesedesc.Value</li>
        }
    </ul>
}


